* {
  margin: 0;
  padding: 0%;
}
body {
  background-color: #aaef78;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
#header {
  width: 1200px;
  height: 100px;
  background-color: #5fcc41;
}
#nav {
  width: 1200px;
  height: 100px;
  background-color: #2fd5e4;
}
#aside {
  width: 400px;
  height: 780px;
  background-color: #0ca960;
  float: left;
}
#section {
  width: 800px;
  height: 780px;
  background-color: #12767d;
  float: left;
}
#footer {
  width: 1200px;
  height: 100px;
  background-color: #9d7de6;
  /* 바로위에 있는 float:left때문에 안먹혀서 아래 문장 삽입*/
  clear: both;
}

/* 미디어 쿼리 */
@media (max-width: 1300px) {
  #wrap {
    width: 96%; /* 좌우간 2% 여백을 위해 96%로 설정함 */
  }
}
@media (max-width: 768px) {
  #wrap {
    width: 100%; /* 여백 제거 */
  }
}
@media (max-width: 480px) {
  #aside {
    width: 100%;
    height: 300px;
  }
  #section {
    width: 100%;
    height: 480px;
  }
}
